<header class="header-background">
    <div class="header-section">
        <div class="header-headline">
            <h1 class="mat-h1"> Publications </h1>
            <h2 class="mat-h2"> CloudCAST Publications </h2>
        </div>
    </div>
</header>
<div class="publications">
    <div class="publications-row">
        <div class="publications-desc">
          <ol>
            <li>
              <h2> Phil Green, Ricard Marxer, Stuart Cunningham, Heidi Christensen, Frank Rudzicz,
              Maria Yancheva, André Coy, Massimuliano Malavasi and Lorenzo Desideri.
              Remote Speech Technology for Speech Professionals – the CloudCAST initiative, proc SLPAT 2015.</h2>
            </li>
            <li>
              <h2>Phil Green, Ricard Marxer, Stuart Cunningham, Heidi Christensen,Frank Rudzicz, Maria Yancheva,
                 Andre Coy,Massimiliano Malavasi, Lorenzo Desideri and Fabio Tamburini (2016), CloudCAST –
                  Remote Speech Technology for Speech Professionals, proc Interspeech 2016, San Francisco</h2>
            </li>
          </ol>
        </div>
    </div>
</div>
