<header class="header-background">
    <div class="header-section">
        <div class="header-headline">
            <h1 class="mat-h1"> About Cloudcast </h1>
            <h2 class="mat-h2"> Mission and Examples </h2>
        </div>
    </div>
</header>

<div class="about">
    <div class="about-row">
        <div class="about-desc">
              <h1>CloudCAST Mission</h1>
              <ol>
                <li>
                  <h2> Speech Professionals (Therapists, Teachers, Clinicians..) are often overworked.</h2>
                </li>
                <li>
                  <h2> Clients don’t get the one-to-one time they need.</h2>
                </li>
                <li>
                  <h2>There is developing technology which promises to help.</h2>
                </li>
                <li>
                  <h2> We aim to give speech professionals the opportunity to use and improve the technology.</h2>
                </li>
                <li>
                  <h2> The professionals must be in control of the technology.</h2>
                </li>
                <li>
                  <h2> The technology must adapt to the professional’s needs.</h2>
                </li>
                <li>
                  <h2>The data collected while the technology is in use will provide a basis for further research and development.</h2>
                </li>
                <li>
                  <h2>CloudCAST will provide a resource which is free to the community.</h2>
                </li>
                <li>
                  <h2> This resource will be available ‘in the cloud’, with computation done remotely.</h2>
                </li>
              </ol>


              <h1>CloudCAST Examples</h1>
              <ol>
                <li>
                  <h2> Therapy aids based on speech recognition.</h2>
                </li>
                <li>
                  <h2> Speech disorder diagnostics.</h2>
                </li>
                <li>
                  <h2>Literacy Tutors.</h2>
                </li>
                <li>
                  <h2> Personalised recognisers for people with speech disorders.</h2>
                </li>
                <li>
                  <h2> Voice command and control for people who can’t use keyboards.</h2>
                </li>
                <li>
                  <h2> Communication aids for people whose speech is hard to understand.</h2>
                </li>
              </ol>


        </div>
    </div>
</div>
