<header class="header-background">
    <div class="header-section">
        <div class="header-headline">
            <h1 class="mat-h1"> About Cloudcast </h1>
            <h2 class="mat-h2"> Mission and Examples </h2>
        </div>
    </div>
</header>

<div class="about">
    <div class="about-row">
        <div class="about-desc">
              <h1>CloudCAST Mission</h1>
              <ol>
                <li>
                  <p> Speech Professionals (Therapists, Teachers, Clinicians..) are often overworked.</p>
                </li>
                <li>
                  <p> Clients don’t get the one-to-one time they need.</p>
                </li>
                <li>
                  <p>There is developing technology which promises to help.</p>
                </li>
                <li>
                  <p> We aim to give speech professionals the opportunity to use and improve the technology.</p>
                </li>
                <li>
                  <p> The professionals must be in control of the technology.</p>
                </li>
                <li>
                  <p> The technology must adapt to the professional’s needs.</p>
                </li>
                <li>
                  <p>The data collected while the technology is in use will provide a basis for further research and development.</p>
                </li>
                <li>
                  <p>CloudCAST will provide a resource which is free to the community.</p>
                </li>
                <li>
                  <p> This resource will be available ‘in the cloud’, with computation done remotely.</p>
                </li>
              </ol>


              <h1>CloudCAST Examples</h1>
              <ol>
                <li>
                  <p> Therapy aids based on speech recognition.</p>
                </li>
                <li>
                  <p> Speech disorder diagnostics.</p>
                </li>
                <li>
                  <p>Literacy Tutors.</p>
                </li>
                <li>
                  <p> Personalised recognisers for people with speech disorders.</p>
                </li>
                <li>
                  <p> Voice command and control for people who can’t use keyboards.</p>
                </li>
                <li>
                  <p> Communication aids for people whose speech is hard to understand.</p>
                </li>
              </ol>


        </div>
    </div>
</div>
