<div class="container">
    <md-list>
        <h1 class="mat-accent">CloudCAST Mission</h1>
        <md-list-item>
            <h4 md-line>Speech Professionals (Therapists, Teachers, Clinicians..) are often overworked.</h4>
        </md-list-item>
        <md-list-item>
            <h4 md-line>Clients don’t get the one-to-one time they need.</h4>
        </md-list-item>
        <md-list-item>
            <h4 md-line>There is developing technology which promises to help. </h4>
        </md-list-item>
        <md-list-item>
            <h4 md-line>We aim to give speech professionals the opportunity to use and improve the technology.</h4>
        </md-list-item>
        <md-list-item>
            <h4 md-line>The professionals must be in control of the technology.</h4>
        </md-list-item>
        <md-list-item>
            <h4 md-line>The technology must adapt to the professional’s needs.</h4>
        </md-list-item>
        <md-list-item>
            <h4 md-line>The data collected while the technology is in use will provide a basis for further research and development.</h4>
        </md-list-item>
        <md-list-item>
            <h4 md-line>CloudCAST will provide a resource which is free to the community.</h4>
        </md-list-item>
        <md-list-item>
            <h4 md-line>This resource will be available ‘in the cloud’, with computation done remotely.</h4>
        </md-list-item>
        <md-divider></md-divider>
        <h1 class="mat-accent">Examples</h1>
        <md-list-item>
            <h4 md-line>Therapy aids based on speech recognition.</h4>
        </md-list-item>
        <md-list-item>
            <h4 md-line>Speech disorder diagnostics.</h4>
        </md-list-item>
        <md-list-item>
            <h4 md-line>Literacy Tutors.</h4>
        </md-list-item>
        <md-list-item>
            <h4 md-line>Personalised recognisers for people with speech disorders.</h4>
        </md-list-item>
        <md-list-item>
            <h4 md-line>Voice command and control for people who can’t use keyboards.</h4>
        </md-list-item>
        <md-list-item>
            <h4 md-line>Communication aids for people whose speech is hard to understand.</h4>
        </md-list-item>
    </md-list>
</div>

