<mat-sidenav-container class="example-container" layout="column" flex>
    <mat-sidenav #sidenav mode="side" opened="true" class="example-sidenav">
       <hr color="black" />
       <p class="title">
         Repositories
       </p>
       <hr color="black" />

       <ul>
          <li>
            <a href="javascript:void(0);" data-title="Projects">Projects</a>
          </li>
          <li>
            <a href="javascript:void(0);" data-title="Team">Team</a>
          </li>
          <li>
            <a href="javascript:void(0);" data-title="Diary">Diary</a>
          </li>
          <li>
            <a href="javascript:void(0);" data-title="Timeline">Timeline</a>
          </li>
          <li>
            <a href="javascript:void(0);" data-title="Settings">Settings</a>
          </li>
        </ul>
    </mat-sidenav>

    <mat-sidenav-content>

    </mat-sidenav-content>
  </mat-sidenav-container>
<section>
  <mat-grid-list  cols="3" rowHeight=".5:.5" gutterSize="1em">
    <mat-grid-tile ><button class="button mat-button"  mat-button><img src="../../../assets/add2.png" class="add-img" /><p>
    Create a new Project
    </p></button>
    </mat-grid-tile>

    <mat-grid-tile *ngFor="let application of applications">
      <p class="application-info">{{application.display_name}} ({{application.name}}) : {{application.description}}</p>
      <button id="open" class="button mat-raised-button">Open</button>
    </mat-grid-tile>

  </mat-grid-list>
</section>
