<h1>What has been done </h1>
<ol>
  <li>
    Login - authenticating a user
  </li>
  <li>
    Signup - adding a user to the system
  </li>
  <li>
    Allowing the user to view all their applications once logged in
  </li>
  <li>
    Content added
  </li>
</ol>
<h1>The errors i've encountered</h1>
<ol>
  <li>
    The framework that the website is being created with is relatively new and as such there are alot of bugs that are unresolved ; and there aren't many resouces
  </li>
  <li>
    The authentication is not asynchronous so once the user logs out reload the page
  </li>
  <li>
    The pages may stay on each other as a result of 1
  </li>
  <li>
    If 3 is fixed other errors would arise as fixing it would mean removing a package
  </li>
  <li>
    Some things are not that pretty but functional.
  </li>
</ol>
