<div class="content">
    <div class="row">
        <img src="../../../assets/speech.png" class="img-row" style="opacity: 0.5">
        <div class="desc">
            <h2>We have shown that</h2>
            <p>it’s possible to recognise disordered speech provided that you can adapt the recogniser to the speaker.
                Adaptation needs training data, but typically only a few minutes of speech
                it’s best to close the ‘virtuous circle’ where data collected from a device in use is used to improve the performance of the device.
            </p>
        </div>
    </div>
    <div class="row reverse-row">
        <img src="../../../assets/speech_tree.png" class="img-row">
        <div class="desc">
            <h2>CloudCAST</h2>
            <p>Aims to translate this research into a resource for speech professionals. Using speech Recognition running remotely, implemented in the Kaldi toolkit,
                Interfaces for non-specialists, Ability to build your own application, Tools based on ASR:Pronunication quality feedback, Intelligibility measures
                Speech Databases.</p>
        </div>
    </div>
</div>

