.header-background {
    background: #3f51b5;
    height: 300px;
    margin-bottom: 40px;
    margin-top: 5px;
}
.header-headline{
    color: hsla(0,0%,100%,.87);
}

.header-headline h1 {
    font-size: 50px;
    font-weight: 300;
    line-height: 56px;
    margin: 15px 0 15px 0;
}

.header-headline h2 {
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
    margin: 15px 0 25px 0;
}

.header-section {
    text-align: center;
    padding-top: 60px;
}

.content {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 16px;
}


.desc {
    line-height: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 50%;
    color: rgba(0,0,0,.54);
}

.desc h2 {
    font-size: 25px;
    font-weight: 400;
    margin: 0 0 16px 0;
    padding: 0;
}
.desc h3 {
    font-size: 20px;
    font-weight: 400;
    margin: 0 0 16px 0;
    padding: 0;
}
.desc p {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin: -30px 0 24px 0;
    padding: 22px;
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 920px;
    margin: 60px 0;
}

.reverse-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    flex-direction: row-reverse;
}

.row h2 {
    font-size: 25px;
    font-weight: 400;
    margin: 0 0 16px 0;
    padding: 5px;
}

.row h3 {
    font-style: italic;
    font-size: 20px;
    font-weight: 400;
    margin: 0 0 16px 0;
    padding: 5px;
}

.img-row {
    width: 50%;
    height: 30%;
    opacity: 0.7;
}

.img2-row {
    width: 40em;
    height: 30em;
    opacity: 0.7;
}
