<div class="main-wrapper">
    <div class="container">
        <h2>Coordinator: Phil Green</h2>

        <h4>
            If you are interested in CloudCAST, please fill in the contact form below.
        </h4>


        <form class="form">
            <table class="full-width" cellspacing="0"><tr>
                <td><md-input-container class="full-width">
                    <input mdInput placeholder="First name" required>
                </md-input-container></td>
                <td><md-input-container class="full-width">
                    <input mdInput placeholder="Longer last names will be shortened" required>
                </md-input-container></td>
            </tr></table>

            <p>
                <md-input-container class="full-width">
                    <textarea mdInput placeholder="email">my.email@gmail.com</textarea>
                </md-input-container>
            </p>

            <table class="full-width" cellspacing="0"><tr>
                <td><md-input-container class="full-width">
                    <input mdInput placeholder="Your Subject">
                </md-input-container></td>

            </tr></table>
            <md-input-container class="full-width">
                <textarea mdInput placeholder="Your Message"></textarea>
            </md-input-container>
        </form>

    </div>
</div>
