<header class="header-background">
    <div class="header-section">
        <div class="header-headline">
            <h1 class="mat-h1"> Partners and People </h1>
            <h2 class="mat-h2"> CloudCAST Partners </h2>
        </div>
    </div>
</header>

<div class="content">
    <div class="row">
        <img src="../../../assets/sheffield.png" class="img-row" style="opacity: 0.5">
        <div class="desc">
            <h2>University of Sheffield</h2>

                <ul>
                <li>
                  Phil Green (CloudCAST coordinator)
                </li>
                <li>
                  Ricard Marxer (CloudCAST facilitator)
                </li>
                <li>
                  Heidi Christensen
                </li>
                <li>
                  Stuart Cunningham
                </li>
              </ul>

        </div>
    </div>

    <div class="row">
        <img src="../../../assets/toronto.jpg" class="img-row" >
        <div class="desc">
            <h2>University of Toronto</h2>
            <ul>
                <li>
                  Frank Rudzicz
                </li>
            </ul>
          </div>
    </div>
    <div class="row">
        <img src="../../../assets/asis.jpg" class="img-row" >
        <div class="desc">
            <h2>AIAS Bologna</h2>
            <ul>
                <li>
                  Massimiliano Malavasi
                </li>
                <li>
                  Lorenzo Desideri
                </li>
            </ul>
          </div>
    </div>
    <div class="row">
        <img src="../../../assets/uwi.jpg" class="img-row" >
        <div class="desc">
            <h2>University of the West Indies</h2>
            <ul>
                <li>
                  Andre Coy
                </li>
            </ul>
          </div>
    </div>

</div>
